html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: 100%;
  background: #000;
}
@media (max-width: 1024px) {
  body,
  html {
    height: 272%;
  }
}
.headline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 8vw;
}

.inset {
  position: absolute;
  inset: 0;
}
.white {
  color: rgb(68, 68, 68) !important;
}
.margin-top {
  margin-top: 6.5vw;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}
@media (max-width: 1024px) {
  .full {
    height: 60vh;
  }
}
.about-full {
  height: 100%;
}
.center {
  display: flex;
  height: 12rem;
  justify-content: center;
}
.lec {
  height: 10rem;
}
.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}
.about {
  font-size: 7vw;
}
.main-content {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
#container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
}
@media (max-width: 1024px) {
  #container {
    height: 55vw;
  }
}
#container img {
  width: 50vw;
}
.horizontal {
  height: 100%;
}
.horizontal::-webkit-scrollbar {
  width: 1rem;
}
.horizontal::-webkit-scrollbar-track {
  background: rgb(70, 70, 70);
  border-radius: 100vw;
  margin-inline: 5rem;
  margin-top: 1rem;
}
.horizontal::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 100vw;
}
.horizontal::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
  border-radius: 100vw;
}
.image {
  width: 600px;
  height: 250px;
}
.image img {
  width: 35vw;
  height: 33vw;
  object-fit: contain;
}
.article {
  width: 99vw;
}
.panelbtn {
  position: absolute !important;
  right: 0;
}
